<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">タスク編集</h2>
      <%=form_with model: [@room, @task], local: true do |f|%>
        <div class='task-form__field'>
          <%= f.label :content, '内容', class: ''%><br>
          <%= f.text_field :content, class: '', placeholder: 'タスク'%>
        </div>
        <div class='task-form__field'>
          <%= f.collection_select(:frequency_id, Frequency.all, :id, :name, {}, {class:"frequency-select"}) %>
        </div>
        <div class='task-form__field'>
          <%= f.date_field :when, class: '', placeholder: '' %>
        </div>

        <%= f.submit "編集"%>
      <% end %>
    </div>
  </div>
</div>