<%= render "shared/header" %>

<div class="task-contents">
  <h1 class="task-content-title">本日の予定</h1>
  <div class="total-tasks">
    <h2>未振分のタスク</h2>
    <ul class="tasks-list">
      <% @tasks.each do |task| %>
        <% unless task.mytasks.exists?(user_id: current_user.id)%>
          <li class="task">
            <%= task.content %>
            <%= link_to "追加", room_task_mytasks_path(room_id: @room.id, task_id: task.id), method: :post %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="current-users-tasks">
    <h2><%= current_user.name%>のタスク</h2>
    <ul class="tasks-list">
      <% current_user.mytasks.each do |mytask| %>
        <li class="task">
          <%= link_to "完了", room_task_path(room_id: @room.id, id: mytask.task_id), method: :delete %>
          <%= mytask.task.content %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="partner-tasks">
    <h2><%= @partner_users.name %>のタスク</h2>
    <ul class="tasks-list">
      <% @partner_users.each do |partner| %>
        <% partner.mytasks.each do |mytask| %>
          <li class="task">
            <%= mytask.task.content %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>