<div class='footer-contents'>
  <div class="creat-task-link">
    <%= link_to new_room_task_path, class: "create-task" do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
  <ul class="footer-nav">
    <li class="footer-link">
      <%= link_to "#", class: "#" do %>
        <i class="fa-solid fa-house footer-link"></i>
      <% end %>
    </li>
    <li class="footer-link">
      <%= link_to "#", class: "#" do %>
        <i class="fa-regular fa-calendar-days footer-link"></i>
      <% end %>
    </li>
    <li class="footer-link">
      <%= link_to "#", class: "#" do %>
        <i class="fa-solid fa-bullhorn footer-link"></i>
      <% end %>
    </li>
    <li class="footer-link">
      <%= link_to "#", class: "#" do %>
        <i class="fa-solid fa-utensils footer-link"></i>
      <% end %>
    </li>
</div>