<%= render "shared/header" %> 

<div class="edit-shoppinglist-contents">
  <h1 class="edit-shoppinglist-title">買い物メモ編集</h1>
    <div class="edit-shoppinglist-content">
      <%= form_with model: [@room, @shoppinglist], local: true do |f| %>
        <%= f.text_area :content,class: 'edit-shoppinglist-input', id: 'content-input'%>
        <%= f.submit "編集", class:"shoppinglist-edit-btn" %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footersecond" %> 