<div class='room-contents'>
  <div class='room-content'>
    <h4 class="create-room-title">ホストになる ></h4>
    <div class='create-room'>
      <%=form_with url: rooms_path, method: :post, local: true do |f|%>
        <div class='create-room-form'>
          <p>パートナーを見つける</p>
          <%= f.text_field :pin, class: 'room-form__input', placeholder: 'あいてのユーザーID', class:"input-default"%>
        </div>
        <div class="actions">
          <%= f.submit "push", class: 'submit-btn' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class='room-content'>
    <h4 class="enter-room-title">ゲストになる ></h4>
    <div class='enter-room'>
      <p>あなたのID:</p>
      <div class="show-pin">
        <%= @user.pin%>
      </div>
      <div class="enter-room-link">
        <p><small>※ホストがルームを作ってから<br>　遷移してください</small></p>
        <div class="enter-room-link-tag">
          <%= link_to 'ルームへ移動', join_action_path, class: 'to-task-index' %>
        </div>
      </div>
    </div>
  </div>
</div>