<!DOCTYPE html>
<html>
  <head>
    <title>OriApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ef51a87b3b.js" crossorigin="anonymous"></script>
    <link href="/public/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="development-screen">
      <p class="webresponsibe-alart">
        申し訳ございません<i class="fa-solid fa-face-tired"></i>
        <br>PCサイズのレスポンシブは現在開発中です。
        <br>幅480px未満での表示でお楽しみください。
        </p>
    </div>
    <%= yield %>
  </body>
</html>
